name: Build Java Application
on: 
    workflow_dispatch:
    push:
        branches:
            - master
    pull_request:
        branches:
            - master
jobs:
    job1:
        runs-on: ubuntu-latest
        steps:
            - name: Clone the repo
              uses: actions/checkout@v6
            - name: Install java
              uses: actions/setup-java@v5
              with: 
                  distribution: 'temurin'
                  java-version: '17'
            - name: Build java code
              run: mvn clean package
