name: Build Java Application
on: 
    workflow_dispatch:
    push:
        branches:
            - master
    pull_request:
        branches:
            - master
jobs:
    job1:
        runs-on: ubuntu-latest
        steps:
            - name: Clone the repo
              uses: actions/checkout@v6
            - name: Install java
              uses: actions/setup-java@v5
              with: 
                  distribution: 'temurin'
                  java-version: '17'
            - name: Build java code
              run: mvn clean package
            - name: Upload artifact to github repo  # download the artifact from the runner to the github repo
              uses: actions/upload-artifact@v4
              with: 
                name: wicket-pwnedpasswords-validator-2.0.1    # name of the artifact that we want to download in the github repo
                path: /home/runner/work/SonarQubeCoverageJava/SonarQubeCoverageJava/target/wicket-pwnedpasswords-validator-2.0.1-SNAPSHOT.jar 
